<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
   {% load static %}
<title>Expedición Cultural</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" href="{% static 'layout/styles/layout.css' %}" type="text/css" />
<script type="text/javascript" src="{% static 'layout/scripts/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'layout/scripts/jquery.cycle.min.js' %}"></script>
<script type="text/javascript">
$(function() {
    $('#featured_slide').after('<div id="fsn"><ul id="fs_pagination">').cycle({
        timeout: 5000,
        fx: 'fade',
        pager: '#fs_pagination',
        pause: 1,
        pauseOnPagerHover: 0
    });
});
</script>
</head>
{% include 'navbar.html' %}
<!-- ####################################################################################################### -->
<div class="wrapper col1">
  <div id="header">
    <div id="topnav">
      <ul>
        <li class="last"><a href='{% url "literatura" %}'>Literatura</a><span style="text-transform:capitalize">Literatura</span></li>
        <li><a href='{% url "danza" %}'>Danza</a><span style="text-transform:capitalize">Danza</span></li>
        <li><a href='{% url "teatro" %}'>Carteleras</a><span style="text-transform:capitalize">Teatro</span></li>
        <li><a href='{% url "musica" %}'>Música</a><span style="text-transform:capitalize">La Escena Under</span></li>
      </ul>
    </div>
    <div id="logo">
      <h1><a href="/appExpe/inicio"><strong>E</strong>pedición <strong>C</strong>ultural</a></h1>
      <p style="text-transform:capitalize">Explorando nuestra Cultura</p>
    </div>
    <br class="clear" />
  </div>
</div>

{% block ContenidoQueCambia %}
  
{% endblock ContenidoQueCambia %}
<div class="wrapper col3">
  <div class="container">
    <div class="content">
      <div id="topstory">
        <h2>Novedades de Nuestra Cultura</h2>
        <ul>
          <li><img src="{% static 'images/fica.png' %}" height="130" width="190" alt="" />
            <p>Dj Fica se presenta todas las semanas en diferentes pubs y bares de CABA</p>
            <p>Su repertorio y estilos van del DownTempo y OrganicHouse al Psytrance </p>
            <p class="readmore"><a href="{% url 'djfica' %}">Continúa leyendo &raquo;</a></p>
          </li>
          <li><img src="{% static 'images/soulmates.jpg' %}" height="130" width="190" alt="" />
            <p>La banda se presenta en el Centro Cultural JJ el próximo Sabado 12/12</p>
            <p>Incluyendo clásicos de los 70s, 80s con versiones originales y un sonido moderno</p>
            <p class="readmore"><a href="{% url 'soulmates' %}">Continúa leyendo &raquo;</a></p>
          </li>
          <li class="last"><img src="{% static 'images/wonderfull.png' %}" height="130" width="190" alt="" />
            <p>La Escuela Metropolitana de Arte Dramático presenta todos los años los proyectos </p>
            <p>desarrollados íntegramente por sus estudiantes de 4 año</p>
            <p class="readmore"><a href="{% url 'wonderfullfarfalla' %}">Continúa leyendo &raquo;</a></p>
          </li>
        </ul>
        <br class="clear" />
      </div>
      <div id="latestnews">
        <h2>Lo que no te podés perder!</h2>
        <ul>
          <li>
            <div class="imgholder"><img src="{% static 'images/misterio.jpg' %}" height="130" width="130" alt="" /></div>
            <div class="latestnews">
              <h2>Se Acabó el Misterio!</h2>
              <p>Pioneros de lo que dieron a llamar #ElectroGlamFunkPunkRock, la banda de Lanús se presenta cada vez más psicodélica y nos propone un viaje por su música... </p>
              <p class="readmore"><a href="{% url 'seacaboelmisterio' %}">Continúa leyendo &raquo;</a></p>
            </div>
            <br class="clear" />
          </li>
          <li class="last">
            <div class="imgholder"><img src="{% static 'images/suavecita.jpg' %}" height="130" width="130" alt="" /></div>
            <div class="latestnews">
              <h2>Suavecita</h2>
              <p>Camila Peralta encarna a una madre soltera dispuesta a dar un salto de fe para mantener a su hija. "Yo soy una persona muy terrenal pero tengo cierto interés por estos mundos, es algo que me atraviesa y no puedo negar", plantea la actriz.</p>
              <p class="readmore"><a href="{% url 'suavecita' %}">Continúa leyendo &raquo;</a></p>
            </div>
            <br class="clear" />
          </li>
        </ul>
      </div>
    </div>
    <div class="column">
      <div class="sponsors">
        <h2>Site Sponsors</h2>
        <div class="b_250"><a href="#"><img src="{% static 'images/eventos.png'  %}" width="250" height="250" alt="" /></a></div>
        <div class="b_125">
          <ul>
            <li><a href="#"><img src="{% static 'images/cine.png' %}" width="125" height="125" alt="" /></a></li>
            <li><a href='{% url "danza" %}'><img src="{% static 'images/danza.png' %}" width="125" height="125" alt="" /></a></li>
            <li><a href="#"><img src="{% static 'images/visuales.png' %}" width="125" height="125" alt="" /></a></li>
            <li><a href='{% url "teatro" %}'><img src="{% static 'images/teatro.png' %}" width="125" height="125" alt="" /></a></li>
            <li><a href='{% url "literatura" %}'><img src="{% static 'images/literatura.png' %}" width="125" height="125" alt="" /></a></li>
            <li class="last"><a href='{% url "musica" %}'><img src="{% static 'images/musica.png' %}" width="125" height="125" alt="" /></a></li>
          </ul>
          <div class="clear"></div>
        </div>
      </div>
    </div>
    <br class="clear" />
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper col4">
  <div id="footer">
    <div class="box1">
      <h2>Sobre Nosotros</h2>
      <img class="imgl" src="{% static 'images/demo/imgl.gif' %}" alt="" />
      <p>Expedición Cultural es una revista de Cultura Argentina autogestiva que busca generar redes entre artistas locales para difundir nuestra Cultura de manera independiente</p>
      <p>Portortornec condimenterdum eget consectetuer condis.</p>
    </div>
    <div class="box contactdetails">
      <h2>Información de contacto</h2>
      <ul>
        <li>Seguinos en Redes Sociales!</li>
        <li>@expcultural</li>
        <li>Envianos tu contenido!</li>
        <li>Email: expcultural@gmail.com</li>
        <li class="last">LinkedIn: <a href="#">Company Profile</a></li>
      </ul>
    </div>
    <div class="box flickrbox">
      <div class="wrap">
        <div class="fix"></div>
        <div class="fix"></div>
      </div>
    </div>
    <br class="clear" />
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper col5">
  <div id="copyright">
    <p class="fl_left">Copyright &copy; 2014 - All Rights Reserved - <a href="#">Domain Name</a></p>
    <p class="fl_right">Template by <a target="_blank" href="http://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
    <br class="clear" />
  </div>
</div>
</body>
</html>