{% extends 'base.html' %}

{% block ContenidoQueCambia %}
<div class="wrapper col1">
    <div id="header">
      <div id="topnav">
      </div>
      <div id="logo">
        <h1><a href="/appExpe/inicio"><strong>Date de alta como Artista!</strong> <strong></strong></a> </h1>
        <br>
         <br>
         <form method = "post" enctype="multipart/form-data"> {% csrf_token %}
             {% csrf_token %}
             <table>
                {{ formulario.as_table }}
             </table>
             <br>
             <input class="btn btn-primary" type="submit" value="Crear">
         </form>
         <br>
         <br class="clear">
         <h2> <a href="{% url 'registroUsuario' %}">Todavía no te registraste? Click aquí! </a></h2>
         <br>
         <br>
        <p></p>
      </div>
      <br class="clear" />
    </div>
</div>
</body>
</html>
{% endblock ContenidoQueCambia %}