{% extends 'base.html' %}

{% load static %}
{% block ContenidoQueCambia %}
    
    <style>
        .contenedor{
            background-color: #f9e9c7;
            height: 150vh;
            width: 210vh;


            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;

        }
    </style>
        <div class="contenedor">
                <h1>Dj Fica - Downtempo Set</h1>
                <body>
                    <h2>El dj se presenta en la Casa Cultural Victor Jara el próximo sábado</h2>
                    <img src="{% static 'images/fica.png' %}" width ="500" y height="300" alt="">
                    <br class="clear">                   
                    <h2>Una noche para compartir</h2>
                    <br class="clear">
                    <img src="{% static 'images/fica2.jpg' %}" width ="500" y height="500" alt="">
                    <br class="clear">                      
                </body>
        </div>


{% endblock ContenidoQueCambia %}