{% extends 'base.html' %}

{% load static %}
{% block ContenidoQueCambia %}
    
    <style>
        .contenedor{
            background-color: #f9e9c7;
            height: 150vh;
            width: 210vh;


            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;

        }
    </style>
        <div class="contenedor">
                <h1>Lista de Eventos!</h1>
                <body>
                    <br class="clear">                   
                    <h2>
                    {% for evento in lista_eventos  %}
                        <li>{{evento.nombre}}</li>
                    {% endfor %}
                       
                    <br class="clear">                   
                </body>
        </div>


{% endblock ContenidoQueCambia %}