{% extends 'base.html' %}

{% block ContenidoQueCambia %}
<div class="wrapper col1">
    <div id="header">
      <div id="topnav">
      </div>
      <div id="logo">
        <h1><a href="/appExpe/inicio"><strong>Registrate</strong> <strong></strong></a> </h1>
        <br>
         <br>
         <h2>Date de alta como Usuario para crear tu perfil de Artista y subir tus propios Eventos!</h2>
         <form method = "post">
             {% csrf_token %}
             <table>
                {{ formulario.as_table }}
             </table>
             <br>
             <input class="btn btn-primary" type="submit" value="Registrar">
         </form>
         <br>
             <li>La información de cada campo debe ser distinta entre si.</li>
             <li>Su contraseña debe contener al menos 8 caracteres.</li>
             <li>Su contraseña no puede ser una clave utilizada comúnmente.</li>
             <li>Su contraseña no puede ser completamente numérica.</li>
         <br>
        <p></p>
      </div>
      <br class="clear" />
    </div>
</div>


</body>
</html>


{% endblock ContenidoQueCambia %}