{% extends 'base.html' %}


{% block ContenidoQueCambia %}

<div class="wrapper col1">
    <div id="header">
      <div id="topnav">
      </div>
      <div id="logo">
        <h1><a href="/appExpe/inicio"><strong>Visuales</strong> <strong></strong></a> </h1>
        <ul>
            {% for evento in eventos_visuales %}
            <br>
            <br>
            <br>
                <li>
                    <h2>Evento: {{ evento.nombre }}</h2>
                    <h2>Categoría: {{ evento.categoria.nombre }}</h2>
                    <h2>Artista: {{ evento.artista }}</h2>
                    <h2>Fecha: {{ evento.fecha }}</h2>
                    <h2>Lugar: {{ evento.lugar }}</h2>
                    <h2>Texto: {{ evento.texto }}</h2>
                    
                    {% if evento.imagen %}
                    <img src="{{ evento.imagen.url }}" alt="{{ evento.nombre }}" />  
                    {% endif %}
                      
                    
                </li>
            {% endfor %}
        </ul>
          
        <p></p>
      </div>
      <br class="clear" />
    </div>
</div>
    
{% endblock ContenidoQueCambia %}